/* Custom styles */
@import "flexbox-grid";
@import "colors";
@import "common";

:root {
  --dark-blue: #1e5799;
  --ligth-blue: #2989d8;
}

html, body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
}

a {text-decoration: none;}

header {
  .init {
    @extend .pull-right;
    @extend .relative;
    padding-right: 10px;
    top: 2em;
  }
  .restant-time {
    span{
      @extend .inline-block;
      vertical-align: top;
      line-height: 1em;
      font-size: 99px;
      span {
        display: block;
        @extend .small;
        @extend .uppercase;
        @extend .bold;
      }
    }
  }
}

.btn {
  @extend .bold;
  @extend .no-border;
  @extend .large-padding;
}
.bullet-points {
  @extend .no-padding;
  @extend .row;

  li {
    @extend .col-xs-10;
    @extend .col-sm-6;
    width: 50%;
    margin-right: -4px;
    list-style-type: none;
    position: relative;

    &:nth-child(n+3) {
      @extend .top-space;
    }

    &::before {
      content: "";
      height: 0.5em;
      width: 0.5em;
      top: 10px;
      left: -15px;
      position: absolute;
      @extend .black;
      @extend .circle;
    }
  }
}
.workshop-background {
  background: var(--dark-blue);
  background: -webkit-linear-gradient(var(--dark-blue) 0%, var(--dark-blue) 20%, #207cca 50%, #2989d8 79%, #7db9e8 100%);
  background: -o-linear-gradient(var(--dark-blue) 0%, var(--dark-blue) 20%, #207cca 50%, #2989d8 79%, #7db9e8 100%);
  background: linear-gradient(var(--dark-blue) 0%, var(--dark-blue) 20%, #207cca 50%, #2989d8 79%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--dark-blue), endColorstr='#7db9e8',GradientType=0 );
  padding-bottom: 100px;
}
.card {
  @extend .white;
}
.separator {
  & > div:nth-child(1) {
    padding-right: 2em;
    border-right: solid 1px #666;
  }
  & > div:nth-child(2) {
    padding-left: 2em;
  }
}
.video-player {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  @extend .relative;
  iframe {
    @extend .absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
